 body {
        display: grid;
        gap: 0px;
        margin:0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
 }

/* ===== HEADER ===== */ 
    header {
        display: flex;
        padding: 0px 50px;
        position: sticky;
        justify-content: space-between;
        background-color: #0f172a;
    }

     header h1{
        color: #e5e7eb;
        font-size: 24px;
        font-weight: bold;
    }

    nav ul {
        display: flex;
        gap: 45px;
        list-style-type: none;
    }

    nav a{
        color: #e5e7eb;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.3s ease;
    }

    nav a:hover {
        color: #38bdf8;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 8px;
        background-color: #293E71;
    
    }



/* ===== MAIN ===== */  

    main {
    padding: 0 0 50px 0;
    display: grid;
    gap: 10px;
    }

    /* ===== HOME ===== */

    #Home {
        border-top: #1e293b solid 1px;
        background-color: #0f172a;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 50px 0px 50px 0px;
        
    }

    #Home h1{
        color: white;
        font-size: 80px;
        text-align: left;
        padding-left: 100px;
    }

    #Home p {
        color: white;
        font-size: 40px;
        text-align: left;
        padding-left: 100px;
    }

    #Home button {
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        text-align: left;
        margin-left: 100px;
        background-color: #293E71;
        border-radius: 8px;
        cursor: pointer;
    }




    /* ===== ABOUT ===== */

    #About-Title {
        color: #0f172a;
        font-size: 60px;
        text-align: center;

    }

    #About-Content {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    #About-Image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
    }

    #About-Image img{
        height: 450px;
        width: 350px;
        border-radius: 12px;
    }

    #About-details {
        display: grid;
        gap: 10px;
        text-align: left;
        padding-left: 30px;
        border-left: 5px solid #0f172a;

    }

    #About-details p {
        color: #0f172a;
        padding: 10px 10px;
        font-size: 18px;
        border-radius: 12px;
        background-color: #f1f5f9;
        
    }

    #About-details a {
        color: white;
        width: fit-content;
        padding: 12px 20px;
        text-decoration: none;
        background-color: #0f172a;
        border-radius: 8px;
        
    }

    #About-details a:hover {
        color: #0f172a;
        background-color: #293E71;
    }

   @media (max-width: 900px) {

    #About-Image {
        display: none;
    }

    #About-details {
        padding-left: 0px;
        border-left: none;
    }

}


/* ===== FOOTER ===== */

footer {
    display: grid;
    gap: 40px;
    color: #e5e7eb;
    background-color: #0f172a;
    padding: 50px 50px 20px 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer h2,footer h3 {
    color: #ffffff;
}

.footer-brand h2 {
    font-size: 28px;
    letter-spacing: 2px;
}

.footer-brand p {
    color: #94a3b8;

}

footer a {
    color: #cbd5f5;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none; 
    
}

footer a:hover {
    color: #38bdf8;
    transform: translateX(5px);
}

.footer-bottom {
    color: #e5e7eb;
    font-size: 15px ;
    text-align: center;
    grid-column: 1 / -1;
    border-top: 1px solid #1e293b;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    footer a:hover {
        transform: none;
    }
}

    