 body {
        margin:0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        display: flex;
        padding: 0px 20px;
        position: sticky;
        align-items :center;
        justify-content: space-between;
        background-color: lavender;
    }

    nav ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
    }
/* ===== MAIN ===== */  

    main {
        padding: 50px;
        display: grid;
        gap: 50px;
    }
    /* ===== ABOUT ===== */
    #About-Title {
        color: #0f172a;
        text-align: center;
    }
    #About-Content {
        display: flex;
        gap: 20px;
    }

    #About-Image{
        border-right: 5px solid #0f172a;
    }

    #About-Image img{
        width: 100%;
        max-width: 300px;
    }

    

    #About-details {
        display: grid;
        gap: 20px;
        align-items: center;
    }


/* ===== FOOTER ===== */

footer {
    display: grid;
    gap: 40px;
    color: #e5e7eb;
    background-color: #0f172a;
    padding: 50px 50px 20px 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer h2,footer h3 {
    color: #ffffff;
}

.footer-brand h2 {
    font-size: 28px;
    letter-spacing: 2px;
}

.footer-brand p {
    color: #94a3b8;

}

footer a {
    color: #cbd5f5;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none; 
    
}

footer a:hover {
    color: #38bdf8;
    transform: translateX(5px);
}

.footer-bottom {
    color: #e5e7eb;
    font-size: 15px ;
    text-align: center;
    grid-column: 1 / -1;
    border-top: 1px solid #1e293b;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    footer a:hover {
        transform: none;
    }
}

    